
@font-face {
  font-family: 'IBMPlexSans';
  src: url('IBMPlexSans.eot?#iefix') format('embedded-opentype'),  url('IBMPlexSans.woff') format('woff'), url('IBMPlexSans.ttf')  format('truetype'), url('IBMPlexSans.svg#IBMPlexSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
