
@font-face {
  font-family: 'IBMPlexSans-Bold';
  src: url('IBMPlexSans-Bold.eot?#iefix') format('embedded-opentype'),  url('IBMPlexSans-Bold.woff') format('woff'), url('IBMPlexSans-Bold.ttf')  format('truetype'), url('IBMPlexSans-Bold.svg#IBMPlexSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
